.logoContainer {
  display: flex;
  align-items: center;
  gap: 5px; 
  padding: 5px  0;
}

.logoImage {
  width: 60px; 
  height: 60px;
  object-fit: contain;
}

.logoTxt {
  display: flex;
  flex-direction: column;
}

.logoTitle {
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-dark);
  margin: 0;
}

.logoSlog {
  font-size: 12px;
  margin: 2px auto;
  color:var(--accent-bleu);
  line-height: 1.3;
}


@media (max-width: 780px) {

.logoImage {
  width: 40px; 
  height: 40px;
}


.logoTitle {
  font-size: 20px;
}

.logoSlog {
  font-size: 10px;
  margin: 2px 0 0 0;
}
}