.pageWrap {
  min-height: 100vh;
}

.heroBanner {
  position: relative;
  background:rgba(182, 254, 193, 0.473);
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
  width: 80%;
  padding:30px;
  padding-top: 50px;
}

.bannerTitle{  
  font-weight: 700;
}

.cloudLeft,
.cloudRight {
  position: absolute;
  width: 120px;
  opacity: 0.9;
}

.cloudLeft { left: -30px; bottom:-20px}
.cloudRight { right: -40px; top:-40px }

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  height: 330px;
}

.horizontalScroll::-webkit-scrollbar { height: 6px; }
.horizontalScroll::-webkit-scrollbar-thumb {
  background: #f8c18e;
  border-radius: 10px;
}

.btnAdd {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 28px;
  padding: 0;
}

.childModal .modal-dialog {
  min-width: 90%;   
}

@media (max-width: 768px) {
.bannerTitle{
  font-size: 24px;
  margin-bottom: 10px;
}
  .cloudLeft,
.cloudRight {
  width: 80px;
}

.cloudLeft { left: -30px; bottom:-40px}

.heroBanner {
  padding:50px 10px 30px 10px;
  margin-bottom: 20px;
}

}


