.storyCard {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.068);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 250px;
  height: 300px;
  max-height: 300px;
  
}

.storyCard:hover {
  transform: translateY(-5px);
}

.imageContainer {
  height: 180px;
  padding: 0px;
}

.storyImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  overflow: hidden;
}

.cardTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(111, 0, 190);
}

.cardText {
  font-size: 16px;
  color: #555;
  text-align: right;
}

