
/* =========================
   ANIMATIONS
========================= */
@keyframes slideFromLeft {
  from { opacity: 0; transform: translateX(-40px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes floatAndFadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  20% { opacity: 1; transform: translateY(0); }
  50% { transform: translateY(-6px) scale(1.02); }
  100% { transform: translateY(0) scale(1); }
}

@keyframes floatImage {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-8px) scale(1.02); }
  100% { transform: translateY(0) scale(1); }
}
.heroRow {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 30px;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;      /* centre le texte */
  padding:  0px 20px;
  border-radius: 20px;
  animation: slideFromLeft 0.5s ease-in-out forwards, cardFloat 4s ease-in-out infinite;
  animation-delay: calc(var(--delay) * 0.15s);
}




.heroContent {
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;      /* centre le texte */
  padding: 0px;
}


/* =========================
   TITRES & IMAGE HOME
========================= */


.headerContainer {
  background: linear-gradient(
    135deg,
#f9ffcf,
    #fbffb5
  );

  padding: 30px 10px ;
  width: 90%;
  margin: 40px auto 0;

  border-radius: 22px;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);

  transition: all 0.3s ease;
}



.title {
  font-size: 2.5rem;
  color: var(--primary-dark);
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.subtitle {
  font-size: 1.1rem;
  text-align: center;
  color: var(--primary);
  font-weight: 200;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.mainImage {
  width: 100%;
  margin: 0px auto;
  border-radius: 20px;
  /* animation: floatImage 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

  .slideContainer{margin-top: 40px;}

  .slideContainerMob{display: none;}
/* =========================
   RESPONSIVE TABLET & MOBILE
========================= */
@media (max-width: 992px) {

  .mainImage { width: 70%; 
  margin: 10px auto;}
  .heroRow{width: 95%;}
  .headerContainer{
    width: 98%;
    margin-top: 0px;
  padding: 20px 10px ;
  }
}

@media (max-width: 780px) {
  .title { font-size: 1.8rem; }
  .mainImage { width: 85%; 
  margin: 0px auto;}
  .subtitle { font-size: 1rem; }
  .slideContainer{display: none;}
  .slideContainerMob{display: flex;}
.heroRow { padding: 0px;

}
}
