.page{
  padding-top: 50px;
}

.hero {
  padding: 20px;
  padding-left: 40px;
  background: var(--primary-light);
  border-radius: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin: 0px auto;
  align-items: center;
  justify-items: center;
}

.heroTitle {
  font-size: 42px;
  font-weight: 700;
  color: var(--primary-dark);
}

.heroText {
  font-size: 18px;
  color: var(--text-light);
  padding-bottom: 10px;
}

.heroImgWrapper {
  display: flex;
  justify-content: center;
}

.kidsImg {
  width: 95%;
  animation: float 4s ease-in-out infinite;
}

/* Floating gentle effect */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

/*
   ACTIVITÉS */
.activitiesSection {
  margin-top: 50px;
  padding: 20px auto;
  text-align: center;
}

.sectionTitle {
  font-size: 32px;
  color: var(--accent-orange);
  font-weight: 700;
}

.sectionText {
  color: var(--primary-dark);
  margin: 0 auto;
}


.valueCard {
  border-radius: 14px;
  border: none;
  background: var(--white);
  box-shadow: 0 4px 15px #00000010;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.valueCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 22px #00000015;
}

.cardIcon {
  font-size: 42px;
  margin-top: 10px;
}

.valueTitle {
  color: var(--primary);
  font-weight: 600;
  margin-top: 10px;
}

.valueText {
  color: var(--text-light);
}

.ctaSection {
  text-align: center;
  padding: 50px 20px;
  background: var(--primary-light);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 10px 25px #00000010;
  margin: 50px auto;
  margin-bottom: 0px;
}

.ctaTitle {
  color: var(--primary-dark);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}



@media (max-width: 992px) {

  .heroTitle {
    font-size: 32px;
  }
  .kidsImg {
    width: 90%;
  }
  .heroButton{
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
.page{
  padding-top: 30px;
}
.hero {
  padding: 20px;
  padding-top: 40px;
  background-size: auto;
  margin: 0px auto;
  text-align: center;
}
.heroTitle{
  font-size: 42px;
  padding: 0px;
}

.heroText {
  font-size: 16px;
  padding: 0px;
  padding-bottom: 15px;
}
}