.CardContainer {
    cursor: pointer;
    height: auto;
    padding: 10px;        
    margin: 0 auto;         
    max-width: 120px;        
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    align-items: center;
    background-color: var(--primary-light);
    width: 100%;
    border-radius: 20px;
}

.icon{  width: 16px;
            height:16px;
            border-Radius: 50%;
            display: inline-block;
        }

.CardContainer img {
    height: 80px;          
    object-fit: contain;
}

@media only screen and (max-width: 991px) {
    .icon {
        display: none;
    }

    .name{
        font-size: 16px;
    }
    .CardContainer {
    margin: 0px auto;
    padding: 0px;
}
}
