.title {
  font-size: 2rem;
  color: #ff4081;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.gameContainer{
  background-color: #FFF5CC ;
  border-Radius: 20px ;
  text-Align: center;
  padding: 15px;

}


/* --- Mobile --- */
@media only screen and (max-width: 767px) {

  .title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

.gameContainer{
  margin: 20px auto;

}

}
