.storiesContainer {
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
   padding: 0px;
   padding-bottom: 15px;
 
}

.title {
  background: #bff8a574;
  font-weight: 600;
  color: #444;
  text-align: center;
  margin-bottom: 20px;
   padding: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.storyItem {
   padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; 
}


.showMoreLink {
  font-weight: 500;
  color: #007bff;
  cursor: pointer;
}

.showMoreLink:hover {
  text-decoration: underline;
}
