.navbar {
  display: flex;
  align-items: center;
  height: 90px;
  min-height: 50px;
  padding:0px;
  background-color:transparent;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  color: #555;
  margin: 0 8px;
  transition: transform 0.2s, color 0.2s;
}

.icon:hover {
  color: #008cba;
  transform: scale(1.2);
}

.logo{
  margin-top: 15px;
}

