.pageContainer{
  width: 80%;
  background-color: var(--primary-light);
  border-radius: 20px;
}

.chaklContainer {
  position: sticky;
  top: 0;
  z-index: 300;
  border-bottom: 2px solid #ffffff;
  padding:  0px;
  padding-bottom: 10px;
  background-color: var(--primary-light);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sideBarMobile{
  align-items: center;
  margin: 0px auto;
  margin-bottom: 10px;
  width: 40%;
  
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 40%;
  left: 10px;
}

.storyCard {
  
  margin:50px auto;
  width: 90%;
  border-radius: 20px;
  border: none;
  overflow: hidden;
  text-align: right;
  padding: 0px;
}

.storyCardHeader {
  text-align: center;
  padding: 20px 0px 10px;
}

.storyTitle {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.storyCardBody {
  background-color: var(--body);
  padding: 1.5rem;
  font-size: 36px;
  line-height: 1.6;
  color: #555;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.modalHeader {
  background-color: #e0f2fe;
  border-bottom: none;
}

.modalBody {
  background-color: #f8faff;
  font-size: 1rem;
}

.modalBody label {
  font-weight: 600;
}

.previewBox {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset 0 0 0 2px #bae6fd;
  direction: rtl;
  text-align: right;
}

.previewBox h5 {
  margin-bottom: 10px;
}

.modalFooter {
  background-color: #f8faff;
  border-top: none;
}


@media (max-width: 768px) {
.storyCard {
  width: 90%;
  margin-top: 30px;
}
.pageContainer{
  width: 100%;
  padding: 0px;
}
.sideBar {
  display:none;
}
}
