.pageContainer{
  width: 80%;
  background-color:var( --primary-light);
  border-radius: 20px;
}

.chaklContainer {
  position: sticky;
  top: 0;
  z-index: 300;
  background-color: var( --primary-light);
  /* border-bottom: 3px solid white; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 0px;
}


.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 40%;
  left: 10px;
}

.storyCard {
  width: 80%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: none;
  padding:  0px;
  overflow: hidden;
  text-align: right;
  margin: 30px auto;
}

.storyCardHeader {
  background-color: #ffffd6;
  text-align: center;
  padding: 20px 0px;
}

.storyTitle {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.storyCardBody {
  
  background-color: #ffffd633;
  padding: 1.5rem;
  font-size: 36px;
  line-height: 1.6;
  color: #555;
}



/* ================= MODAL ================= */
.modalHeader {
  background-color: #e0f2fe;
  border-bottom: none;
}

.modalBody {
  background-color: #f8faff;
  font-size: 1rem;
}

.modalBody label {
  font-weight: 600;
}

.previewBox {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset 0 0 0 2px #bae6fd;
  direction: rtl;
  text-align: right;
}

.previewBox h5 {
  margin-bottom: 10px;
}

.modalFooter {
  background-color: #f8faff;
  border-top: none;
}

/* Responsive */
@media (max-width: 768px) {
  .sideBar {
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5rem 0;
    min-height: auto;
  }

  .storyCardContainer {
    margin-top: 0.5rem;
  }
}
