
Body {
  font-family: "Nunito", "Poppins", sans-serif;
  background-color: #f9fbfc;
  color: #333;
}
textarea:focus {
  outline: none;
  border-color: transparent; /* Facultatif, si tu veux enlever un changement de couleur */
}
h1, h2 ,h3, h4 {
  color: #007a8c;
  font-weight: 800;
  line-height: 1.3;

}

h4,h5{
  color: #474747;
  font-weight: 600;
  line-height: 1.5;
}