Body {
  /* background-color :rgb(254 251 244); */
  background-color: rgba(211, 242, 255, 0.598);
}
textarea:focus {
  outline: none;
  border-color: transparent; /* Facultatif, si tu veux enlever un changement de couleur */
}
