:root {
  --primary: #00A7B3;
  --primary-dark: #007A8C;
  --primary-light: #DFF7F7;

  --success: #8FD55A;
  --success-dark: #62A43A;

  --text-dark: #444444;
  --text-light: #6B6B6B;

  --white: #FFFFFF;
  --bg-soft: #F8FBFB;
}
Body {
  font-family: "Nunito", "Poppins", sans-serif;
  background-color: #f9fbfc;
  color: #333;
}
textarea:focus {
  outline: none;
  border-color: transparent; /* Facultatif, si tu veux enlever un changement de couleur */
}
h1, h2 ,h3, h4 {
  color: #007a8c;
  font-weight: 800;
  line-height: 1.3;

}

h4,h5{
  color: #007a8c;
  font-weight: 600;
  line-height: 1.5;
}